TARGET_SYNC_REPO=<ABSOLUTE_PATH_TO_YOUR_SYNC_REPO>

# GitLab
GL_API_TOKEN=<YOUR_GITLAB_TOKEN>

# Azure DevOps
# Authentication is done via azidentity (e.g., run `az login`)
AZDO_ORGANIZATION=<YOUR_AZURE_DEVOPS_ORGANIZATION>
AZDO_AUTHOR=<YOUR_DISPLAY_NAME>
